body {
    background-color: #333;
    width: 100%;
    color: #e7e7e7;
}

label, h3, footer, a {
    color: #c9c9c9;
}

.btn-primary {
    background-color: #800080;
    border-color: #800080;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #b800b8;
        border-color: #b800b8;
    }

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #360036;
}

.btn-primary:focus {
    color: #fff;
    background-color: #590059;
    border-color: #590059;
}

.btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #590059;
    border-color: #590059;
}

.navbar {
    background-color: #1a1a1a;
}

hr {
    background-color: #e7e7e7;
}

.icon {
    color: #800080;
}

.navbar-light .navbar-brand {
    color: #e7e7e7;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #e7e7e7;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #e7e7e7;
}
