body {
    background-color: #333;
    width: 100%;
}

label, h3, footer {
    color: #e7e7e7;
}

.btn-primary {
    background-color: #990099;
    border-color: #800080;
}

.navbar {
    background-color: #1a1a1a;
}

hr {
    background-color: #e7e7e7;
}

.icon {
    color: #800080;
}

.navbar-light .navbar-brand {
    color: #e7e7e7;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #e7e7e7;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #e7e7e7;
}
